
<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }} contato</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="nameInput">Nome</label>
        <input type="text" class="form-control" id="nameInput" [(ngModel)]="newContact.name" maxlength="50" >
    </div>
    <div class="form-group">
        <label for="emailInput">E-mail</label>
        <input type="email" class="form-control" id="emailInput" [(ngModel)]="newContact.email" maxlength="50">
      </div>
      <div class="form-group w-50">
        <label for="phoneInput">Telefone</label>
        <input type="text" class="form-control" id="phoneInput" [mask]="'(00) 00000-0000'" maxlength="15" [(ngModel)]="newContact.phone" >
      </div>
</div>
<div class="modal-footer">
    <button class="cancel-button" (click)="editContactModal.close()">Cancelar</button>
    <button class="confirm-button" [disabled]="!saveIsValid()" (click)="save()">Salvar</button>
</div>


  